body {
    background-color: rgb(240, 239, 239);
}

header {
    text-align: center;
    background-image: linear-gradient(
        blue 0%,
        rgb(64, 0, 182) 100%
    );
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: solid 1px black;
    margin-bottom: 1rem;
}
h1 {
    font-weight: 900;
}
h2 {
    font-weight: 900;
    display: inline-block;
    height: 1rem;
}
h3 {
    font-weight: 900;
}

.cityInfo {
    border: solid 1px black;
    margin-right: 2rem;
}
 .forcast {
    margin-right: 2rem;
 }

form {
    box-sizing: border-box;
    flex-shrink: 1;
    width: 100%;
    border-bottom: solid 1px black;
}
input {
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
}
button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: linear-gradient(
        rgb(64, 0, 182)  0%,
        blue 100%
    );
    width: 100%;
}
.credits {
    text-align: center;
    color:white;
}

.forcast img {
    height: 4rem;
    display: inline-block;
    background-color: rgb(163, 200, 255);
    border-radius: 4rem;
}
.forcast p {
    margin-top: 1rem;
}
.col p {
    display: inline-block;
}
#uvColor {
    color:white;
    border-radius: 2px;
}
#history {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#history button{
    border-radius: 8px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#history li{
    background-color: rgb(192, 192, 192);
    padding: .5rem;
    border-radius: 5px;
    text-align: center;
    font-weight: 900;
}
#day-1, #day-2, #day-3, #day-4, #day-5 {
    background-color: rgb(36, 36, 114);
    border: solid 2px black;
    border-radius: 1rem;
    color:white;
    margin: 1rem;
}
#icon {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    background-color: rgb(163, 200, 255);
    border-radius: 2rem;
}

#weatherInfo {
    visibility: hidden;
}
#heart {
    color: rgb(255, 106, 230);
    font-weight: 900;
    font-size: 1.5rem;
}